FLASK_RUN_PORT=5001
SECRET_KEY=

JWT_PRIVATE_KEY_PATH=
JWT_PRIVATE_KEY_PASSWORD=
JWT_CERTIFICATE_PATH=
JWT_CA_CERTIFICATE_PATH=

SERVICE_DOMAIN=
SERVICE_BASE_ENDPOINT=

WALLET_TESTER_URL=

SAMPLE_DOCUMENTS_FOLDER="sample_docs"
LOGS_FOLDER="logs"

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
