FLASK_RUN_PORT=5001
SECRET_KEY=

ACCESS_CERTIFICATE_KEY_SOURCE=
ACCESS_CERTIFICATE_PRIVATE_KEY_PATH=
ACCESS_CERTIFICATE_PATH=
ACCESS_CERTIFICATE_CA_PATH=
# ACCESS_CERTIFICATE_PRIVATE_KEY_PASSWORD=

SERVICE_SCHEME=
SERVICE_DOMAIN=
SERVICE_BASE_ENDPOINT=

WALLET_TESTER_URL=

SAMPLE_DOCUMENTS_FOLDER=sample_docs
LOGS_FOLDER=logs

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_ENTRY_MAX_AGE_SECONDS=